@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.required:after {
    content: " *";
    color: red;
    font-weight: bold;
}

/* s: Navbar */
.nav-hover-link {
    @apply hover:border-b-2 hover:border-primary hover:transition-all duration-150;
}

.nav-active-link {
    @apply text-primary font-medium border-b-2 border-primary;
}
/* e: Navbar */

/* s: Scrollbar */
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
/* e: Scrollbar */
